body {
    background-color: aquamarine;
    font-family: 'Spirax', cursive;
    
     

  }
  h1 {
    text-align: center;
   }

  p {    
    padding: 30px;
    margin: 50px;
  } 
  p::first-letter {
    font-size: 200%;
    color: hotpink;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  } 
  figure {
    float: center;
    width: 30%;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    
  }
  a:hover {
  color: red;
  }
  
  